# Variables de entorno
TELEGRAM_BOT_TOKEN=
OPENROUTER_API_KEY=
AI_MODEL=
PORT=3000

# logs level
## - trace → ultra detallado
## - debug → para depuración
## - info → información general
## - warn → advertencias
## - error → errores
## - fatal → errores críticos
LOG_LEVEL=info
